body {
  margin: 0;
  background-color: #bfbfbf;
  height: 100%;
  width: 100%;
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* CSS FÖR IPAD OCH WEBB*/

@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }

  .logo {
    height: 12rem;
    width: 12rem;
  }

  .photobox {
    display: flex;
  }

  .beerphoto,
  .barrelphoto {
    height: 20rem;
    width: 100%;
  }

  .barrelphoto {
    border-left: 5px solid black;

  }

img {
  height: 15rem;
}
}

/* GENERELL CSS */

a {
  text-decoration: none;
  color: white;
  margin: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #898989;
  background: linear-gradient(
    180deg,
    rgba(191, 191, 191, 1) 0%,
    rgba(98, 98, 98, 1) 90%
  );
}

.logo {
  background-image: url("LogoBlom.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.photobox {
  width: 100%;
  height: 100%;
}

.beerphoto {
  background-image: url("beer_main.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.barrelphoto {
  background-image: url("barrels.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headings {
  color: white;
  font-size: 2rem;
}

.maininfo {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #bfbfbf;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
  background: linear-gradient(
    0deg,
    rgba(191, 191, 191, 1) 0%,
    rgba(98, 98, 98, 1) 90%
  );
}

.webbpres {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

button {
  border-radius: 0.5rem;
  margin: 1.2rem;
  font-family: acumin-pro, sans-serif;
}

footer {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  background-color: #898989;
  background: linear-gradient(
    180deg,
    rgba(191, 191, 191, 1) 0%,
    rgba(98, 98, 98, 1) 90%
  );
}

.fa-twitter,
.fa-facebook-f,
.fa-instagram {
  color: #f9b233;
  font-size: 3rem;
}
